* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8 !important;
}

.dashboard-wrapper {
  display: grid;
  grid-template-columns: 25% auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  box-shadow: -3px 0 5px 0 #555;
  height: 100vh;
  background-color: #ffffff;
}

.sidebar .logo img {
  margin: 2em 0;
}

.sidebar .sidebar-links ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

/* Sidebar links */
.sidebar ul li a {
  display: block;
  color: rgba(28, 29, 34, 0.5);
  text-decoration: none;
  font-weight: 700;
}

/* Active/current link */
.sidebar ul li.active {
  background-color: rgba(125, 149, 204, 0.15);
  color: #4e87f8 !important;
}

.sidebar ul li a:hover {
  color: #4e87f8;
}

.profile {
  background-color: #ffffff;
  height: 5em;
}

.profile-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #555;
  margin: 0 1em;
  display: inline-block;
}

.task-wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2em;
}

.fas {
  color: #666666;
}

.line-chart-wrapper {
  position: relative;
  margin: auto;
  height: 20rem;
  width: 40em;
}

.chart {
  position: relative;
  margin: auto;
  height: 10rem;
  width: 8rem;
}

.indicator {
  width: 1%;
  background-color: #f7bd40;
}

.not-started-indicator {
  width: 1%;
  background-color: #4e87f8;
}
.task-body {
  padding-left: 1em;
  width: 100%;
}

.title-header {
  font-size: 12px;
  font-weight: 400;
  color: #1c1d22;
}

.title-date {
  font-size: 12px;
  color: #666666;
}

.fas {
  padding-right: 0.3em;
}

.title-btn {
  font-size: 12px;
  padding-top: 1em;
}

.title-btn-badge {
  color: #1c1d22;
  margin-right: 2em;
  font-size: 8px;
  padding: 0.5em;
  background-color: #f7bd40;
  border-radius: 2em;
}

.not-started-title-btn-badge {
  color: white;
  margin-right: 2em;
  font-size: 8px;
  padding: 0.5em;
  background-color: #4e87f8;
  border-radius: 2em;
}

.flag i {
  color: #f7bd40;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .chart {
    position: relative;
  }
  .line-chart-wrapper {
    height: 10rem;
    width: 20rem;
  }
}
